:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* LOGIN PAGE */
.login-page-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #6fbfbf;
}

.login-page-container .login-title {
  width: 100%;
  height: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-page-container .login-title h1 {
  font-size: 4rem;
}

.color-dark-blue {
  color: #010326;
}

.login-page-container .login-inputs {
  width: 100%;
  height: 60%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* INPUT */
.input-container {
  width: 300px;
  height: 50px;

  margin: 1rem;
}

.input-container input {
  width: 100%;
  height: 100%;

  border: 3px solid #393e59;
  background-color: white;
  border-radius: 10px;

  color: #393e59;

  font-size: 2rem;
  font-weight: bold;
}

.button-container {
  background-color: #010326;
  width: 200px;
  height: 50px;

  border-radius: 15px;
  border: 3px solid white;
}

.button-container button {
  width: 100%;
  height: 100%;
  border: none;
}

/* ADMIN */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Admin*/
* {
  margin: 0;
  font-family: "Overpass";
}
html,
body {
  background-color: #f0f2f2;
}
body {
  font-size: 22px;
}
ul {
  background-color: #010326;
  list-style-type: none;
  overflow: hidden;
}
li {
  float: left;
  display: block;
  padding: 16px;
}
a {
  text-decoration: none;
  color: #f0f2f2;
}
table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border-spacing: 10px;
}
#li_logout {
  float: right;
}
#list {
  background-color: #6fbfbf;
  color: #010326;
  text-align: left;
  padding: 20px;
}
#search {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border-spacing: 10px;
  border-radius: 50px;
  text-align: left;
  padding: 5px;
  background-color: #6fbfbf;
  color: #010326;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 100%;
  height: 10%;
}
.info_name {
  text-align: center;
  color: #010326;
  font-size: xxx-large;
  font-weight: bold;
}
.info_hyperlink {
  color: #6fbfbf;
}
.active_tab {
  color: #6fbfbf;
}
.inactive_tab {
  color: #f0f2f2;
}
.split {
  width: 50%;
  position: fixed;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.admin-page-container {
  width: 100%;
  height: 90%;
}
.admin-container {
  width: 100%;
  height: 100%;
}
